<html>
<head>
<title>Heroku - The best cloud hosting</title>
</head>
<body

###Cryptocurrrency
<!-- Codes by HTML.am -->

<!-- CSS Code -->
<style type="text/css" scoped>
.GeneratedText {
font-family:'Brush Script MT';font-size:xx-large;font-weight:bold;font-variant:small-caps;text-decoration:blink;text-transform:capitalize;letter-spacing:0.2em;word-spacing:0.1em;line-height:1.3em;text-align:center;color:#FF3399;padding:1.5em;
}
</style>

<!-- HTML Code -->
<div class="GeneratedText">CryptoCurrency</div>

###Horizontal line
<hr style="border: 2px solid#0000A0;" />

</body>
</html>
